@media screen and (max-width: 991px) {
   body {
      .container {
         padding-left: 20px;
         padding-right: 20px;
      }
   }

   header {
      .navbar {
         justify-content: center;
         flex-wrap: wrap;
         position: relative;

         .header-logo {
            max-height: 100px;
            flex: 1 1 auto;
            display: flex;
            justify-content: center;

            img {
               margin-right: 30px;
               height: 100px;
            }
         }

         .burger-menu {
            margin-left: -8px;
            max-width: 45px;
            max-height: 45px;

            .burger-icon.is-active {
               width: 30px;
               transform: rotate(45deg);

               span {
                  &:first-of-type {
                     display: none;
                  }

                  &:last-of-type {
                     top: -6px;
                     width: 30px;
                     transform: rotate(90deg);
                  }
               }
            }
         }

         .navbar-collapse {
            flex-direction: column;
            flex-basis: 100%;
            background: #232121;
            margin: 0 -20px;

            max-height: 0;
            visibility: hidden;
            opacity: 0;
            overflow: hidden;
            transition: max-height .8s linear, opacity 0.8s ease, transform 0.4s ease;
            transform: translateY(-10px);

            &.active {
               max-height: 500px;
               visibility: visible;
               transform: translateY(0);
               opacity: 1;
            }

            .navbar-nav {
               flex-direction: column;
               margin-bottom: 10px;
               width: 100%;

               a {
                  margin: 10px 8px;
                  width: 100%;
               }
            }

            .nav-button {
               margin-bottom: 20px;
            }
         }
      }
   }

   .first-screen {
      padding: 198px 0 75px;
      height: calc(100vh - 100px);

      .first-screen-title {
         font-size: 30px;
         margin-bottom: 87px;
         line-height: 43px;
      }

      .first-screen-btn {
         padding: 17px 51px;
         font-size: 14px;
      }

      .link-list {
         margin-bottom: 30px;

         li {
            margin: 0 20px;

            .list-item {
               font-size: 12px;
               padding: 0 12px;

               &::before {
                  height: 14px;
                  bottom: 0px;
                  left: -20px;
               }

               &::after {
                  height: 14px;
                  bottom: 0px;
                  right: -21px;
               }
            }
         }
      }
   }
}