* {
   box-sizing: border-box;
}

body {
   color: $text-color ;
   background-color: $bg-primary;
   font-family: $font-primary;
   padding: 0;
   margin: 0;
}

.container {
   max-width: 1410px;
   padding-right: 12px;
   padding-left: 12px;
   margin-right: auto;
   margin-left: auto;
   position: relative;
}

a {
   text-decoration: none;

   &:hover {
      transition: .3s;
   }
}

.btn:hover {
   transition: .3s;
   border-color: #89C249;
   color: #89C249;
}