<section class="first-screen">
   <div class="container">
      <div class="col">
         <ul class="link-list">
            <li>
               <a class="list-item" href="#">КАМИНЫ</a>
            </li>
            <li>
               <a class="list-item" href="#">ПЕЧИ</a>
            </li>
            <li>
               <a class="list-item" href="#">МАНГАЛЫ</a>
            </li>
            <li>
               <a class="list-item" href="#">БАРБЕКЮ</a>
            </li>
         </ul>
         <h1 class="first-screen-title">Изготовление каминов, печей и мангалов</h1>
         <a class="btn-prymary first-screen-btn" href="#">Заказать сейчас</a>
      </div>
   </div>
</section>