<header>
   <div class="container">
      <nav class="navbar">
         <a href="#" class="header-logo">
            <img src="assets/img/header-logo.svg" alt="logo">
         </a>
         <div class="burger-menu">
            <div class="burger-icon">
               <span></span>
               <span></span>
            </div>
         </div>
         <div class="navbar-collapse">
            <div class="navbar-nav">
               <a href="#"><span>Главная</span></a>
               <a href="#">Наши работы</a>
               <a href="#">Как мы работаем</a>
               <a href="#"> Контакты</a>
            </div>
            <a class="btn nav-button" href="#">Обратная связь</a>
         </div>
      </nav>
   </div>
</header>